<h1><center>Laboratorio 4: Spark y EDA</center></h1>

<center><strong>MDS7202: Laboratorio de Programación Científica para Ciencia de Datos - Primavera 2024</strong></center>

### Cuerpo Docente:

- Profesores: Ignacio Meza, Sebastián Tinoco
- Auxiliar: Eduardo Moya
- Ayudantes: Nicolás Ojeda, Melanie Peña, Valentina Rojas

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no serán revisados

- Nombre de alumno 1: Luis Picón.
- Nombre de alumno 2: Israel Astudillo M.

### **Link de repositorio de GitHub:** [Repositorio](https://github.com/IsraPKMNPAP/Laboratorio-de-Herramientas)

## Reglas:

- **Grupos de 2 personas**
- Fecha de entrega: 6 días de plazo con descuento de 1 punto por día. Entregas Jueves a las 23:59.
- Instrucciones del lab el viernes a las 16:15 en formato online. Asistencia no es obligatoria.
- <u>Prohibidas las copias</u>. Cualquier intento de copia será debidamente penalizado con el reglamento de la escuela.
- Tienen que subir el laboratorio a u-cursos y a su repositorio de github. Labs que no estén en u-cursos no serán revisados. Recuerden que el repositorio también tiene nota.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.
- Pueden usar cualquier material del curso que estimen conveniente.

### Temas a tratar

- Introducción al manejo y análisis de grandes volúmenes de datos por medio de la libreria `pyspark`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pyspark` para manejar datos tabulares de gran volúmen.
- Crear gráficos para el desarrollo de Análisis de Datos Exploratorios (EDA).

### Datos del Lab

- Base de datos: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet
- Objeto serializado: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/object.pkl

## 1. Preguntas Teóricas [12 puntos]
(2 por pregunta)

<center>
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2018-08/1/17/enhanced/buzzfeed-prod-web-05/anigif_enhanced-9173-1533160033-1.gif" width=350 />

Responda en  máximo 5 líneas las siguientes preguntas:
1. ¿Qué es Apache Spark y cuáles son sus principales ventajas sobre Pandas?
2. ¿Qué es un RDD en Spark? Describe una de sus principales características. ¿Qué tienen que ver con los dataframes?.
3. Diferencia entre transformaciones y acciones en Spark. Proporciona ejemplos de cada una. ¿Qué ocurre internamente cuando se ejecuta una acción?
4. Explica la importancia del particionamiento en Spark y cómo afecta el rendimiento del procesamiento de datos.
5. ¿Cuáles son las funciones de Spark Driver y Spark Executor?
6. ¿Qué es el Catalyst Optimizer en Apache Spark y cuál es su función principal en la optimización de consultas SQL?

**Respuestas**

> 1. Apache Spark es un motor de procesamiento de datos masivos unificado, orientado al análisis de datos y la eficiencia procesando grandes cantidades de datos. Este motor se puede acceder en Python a través de PySpark, que es una librería que compatibiliza el lenguaje con el motor. Tiene la ventaja principal de ser eficiente y rápido trabajando grandes cantidades de datos, así como facilitar el stream de datos entre distintos procesos. 
> 2. Un RDD en Spark es una estructura de datos que se caracteriza por estar distribuida en distintas máquinas y es la base de las operaciones que Spark permite realizar. Su principal característica es la distribución de sus partes en distintas máquinas que le da la propiedad de paralelismo de operaciones y aumento en general de la velocidad de procesamiento. Se relacionan con los DataFrames en que sirven de estructura fundamental para estos y funcionan como abstracción de mas alto nivel de los RDD optimizadas para consultas.
> 3. Una transformación es una especie de operación que transforma un datafrme en otro nuevo (sin modificar el original) que Spark guarda internamente para ejecutar luego en las acciones de Spark (perezosas), las cuales desencadenan las transformaciones en cola. Un ejemplo de transformación es filter() función de filtrado de dataframes y uno de acción es save() que guarda un dataframe en algún tipo de almacenamiento externo. Cuando se ejecuta una acción se desencadena la operación de toda la cola de transformaciones, organizadas en una secuencia optimizada que mejora finalmente la eficiencia en ejecución y tiempo de procesamiento.
> 4. El particionamiento de datos permite a Spark distribuir el procesamiento de distintas tareas en varias máquinas de manera de acelerar el procesamiento de datos a través de operaciones en paralelo en las distintas máquinas distribuidas. Esto tiene finalmente efecto sobre el rendimiento para grandes cantidades de datos, donde las operaciones mismas a realizar son las que más demandan en términos computacionales por sobre reagrupar la data separada.
> 5. El driver es el gestor que instancia la sesión que se encarga de administrar y solicitar los recursos necesarios para la ejecución de las tareas, que a su vez también transforma a grafos acíclicos. El executor opera en cada nodo de trabajo dentro del clúster llevando a cabo las tareas asignadas por el conductor o cluster manager.
> 6. Catalyst Optimizer es el optimizador detrás del motor de SQL que ofrece Spark para ejecutar consultas SQL. Su función principal es de optimización de consultas a través de una secuencia de pasos que mejor utiliza los recursos de Spark para ejecutar las consultas.

## Parte Práctica

<center>
<img src="https://pbs.twimg.com/ad_img/1285681293590749189/kDckYy6Z?format=png&name=900x900" width=350 />

Juan Carlos Bodoque, el famoso periodista y empresario, decidió diversificar su portafolio de negocios y crear su propia plataforma de e-commerce. Después de varios años de investigar y analizar el mercado financiero, finalmente logró fundar Bodoque E-Shop con el objetivo de ofrecer a sus clientes una experiencia personalizada y confiable en sus transacciones.

Sin embargo, con la llegada de los aliens al planeta Tierra, aparecen nuevos desafíos para el negocio. Por ello, Bodoque decide invertir en un equipo de expertos en tecnología y comercio interplanetario, para que Bodoque Shop implemente las últimas innovaciones en servicio al cliente para garantizar la satisfacción y fidelización de sus nuevos clientes.

El primer objetivo de Bodoque E-Shop será la hacer un análisis exploratorio para entender mejor el comportamiento de los usuarios en la plataforma. Para ello Bodoque les hace entrega de un extenso dataset en el que se registran las actividades que han realizado sus clientes durante los últimos meses. A continuación se presenta un diccionario de variables que levanto el equipo de consultores interplanetarios de Bodoque:

1. `Transaction ID`: A unique identifier for each transaction.
2. `Customer ID`: A unique identifier for each customer.
3. `Transaction Amount`: The total amount of money exchanged in the transaction in USD.
4. `Transaction Date`: The date and time when the transaction took place.
5. `Payment Method`: The method used to complete the transaction (e.g., credit card, PayPal, etc.).
6. `Product Category`: The category of the product involved in the transaction.
7. `Quantity`: The number of products involved in the transaction.
8. `Customer Age`: The age of the customer making the transaction.
9. `Customer Location`: The geographical location of the customer.
10. `Device Used`: The type of device used to make the transaction (e.g., mobile, desktop).
11. `IP Address`: The IP address of the device used for the transaction.
Shipping Address: The address where the product was shipped.
12. `Billing Address`: The address associated with the payment method.
13. `Is An Alien`: A binary indicator of whether customer is an alien.
14. `Account Age Days`: The age of the customer's account in days at the time of the transaction.
15. `Transaction Hour`: The hour of the day when the transaction occurred.

### Importamos librerias utiles y cargamos los datos😸

In [77]:
import os
os.environ["JAVA_HOME"] = r"C:/Program Files/Java/jdk-22/"

In [78]:
# Libreria Core del lab.
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StringType, IntegerType, FloatType


#Libreria para plotear
!pip install --upgrade plotly
!pip install missingno
import matplotlib.pyplot as plt
import plotly.express as px

Requirement already satisfied: plotly in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (5.24.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from plotly) (24.1)
Requirement already satisfied: missingno in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from missingno) (3.9.2)
Requirement already satisfied: scipy in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from missingno) (1.13.1)
Requirement already satisfied: seaborn in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from seaborn->missingno) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\astud\miniconda3\envs\pyspark_env\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)

Cargue los datos usando **pyspark**

> Nota: Puede ser util el siguiente [enlace](https://www.oracle.com/cl/java/technologies/downloads/#jdk22-windows)

In [79]:
# Creamos sesión
sparksession = SparkSession.builder.master("local").appName("Dataframes").getOrCreate()

In [80]:
# Leemos el DF
df = (
    sparksession.read
    .format("parquet")
    .load("../temp/datos_lab_spark.parquet")
)

In [81]:
# Mostramos
df.show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|4b4a5fe1-ec4d-4f9...|d1b87f62-51b2-493...|             58.09|2022-03-24 00:00:00| bank transfer|     electronics|     1.0|        17.0|    Amandaborough|       NULL| 212.195.49.198|Unit 8934 Box 005...|Unit 8934 Box 005...|        0.0|            NULL|             5.0|
|bacd9392-73ce-481...|37de64d5-e901-4a5...|            389.96|2023-01-17 00:00:00|    debit card|     electronics|     2.0|        40.0|     East Timothy|    desktop|208.106.249.121|634 May Keys\nPor...|634 May Keys\nPor...|        0.0|            72.0|             8.0|
|d936a024-3a1d-40d...|1bac88d6-4b22-409...|            134.19|2023-06-01 00:00:00|        PayPal|   home & garden|     2.0|        22.0|       Davismouth|     tablet|   76.63.88.212|                NULL|16282 Dana Falls ...|        0.0|            63.0|            NULL|
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|         Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|b0634f43-d07d-4ca...|45071bc5-9588-43e...|            121.53|2020-10-26 00:00:00| bank transfer|        clothing|     2.0|        51.0|             NULL|       NULL| 190.172.14.169|29799 Jason Hills...|29799 Jason Hills...|        0.0|           158.0|            NULL|
|8c4711b8-7477-421...|29616b04-2d5c-472...|            166.41|2019-06-10 00:00:00| bank transfer|    toys & games|    NULL|        34.0|     Herreramouth|     tablet|           NULL|5699 Brittany Vil...|120 Kristi Dale\n...|       NULL|            38.0|            10.0|
|fd0342fe-6b16-4a3...|fe21ae29-ba4c-424...|             92.88|2020-10-09 00:00:00|        PayPal|    toys & games|     2.0|        14.0|        Ramosfort|     tablet|   13.45.27.192|                NULL|727 Gibson Island...|        0.0|           119.0|            19.0|
|2d7299de-355b-479...|024257c3-5671-4de...|            318.14|2021-10-09 00:00:00|   credit card| health & beauty|     4.0|        42.0|             NULL|    desktop|131.141.230.185|3914 Davis Union\...|                NULL|        0.0|           251.0|            NULL|
|de51c9df-ab52-43a...|                NULL|              NULL|2019-03-22 00:00:00| bank transfer|   home & garden|    NULL|        38.0|       Carneyfurt|       NULL|           NULL|47893 Maldonado S...|                NULL|        0.0|           190.0|            19.0|
|                NULL|aab93e75-582f-445...|            121.78|2022-02-28 00:00:00| bank transfer| health & beauty|     4.0|        39.0|       Brockburgh|     mobile| 174.32.252.238|2334 Briana Cente...|2334 Briana Cente...|        0.0|           343.0|            NULL|
|f445a4e3-77cc-4d8...|6a2e1397-e24a-414...|            633.39|               NULL|          NULL|            NULL|     5.0|        20.0|        Craneport|     tablet|201.188.209.214|Unit 7360 Box 518...|55423 Henry Haven...|        0.0|           285.0|            22.0|
|a93649c4-0d70-49d...|a30a5030-1c23-475...|             56.31|2024-02-15 00:00:00|        PayPal|            NULL|     3.0|        35.0|     West Michael|     tablet|           NULL|3684 Morris Inlet...|3684 Morris Inlet...|       NULL|            NULL|            NULL|
|f5f4d967-c8c5-4b5...|                NULL|            275.87|2021-04-28 00:00:00|   credit card|   home & garden|     5.0|        NULL|      Melindafurt|     mobile| 105.173.82.111|4197 Lewis Way\nM...|075 Monroe Court\...|        0.0|           307.0|            11.0|
|                NULL|                NULL|            178.94|2020-05-15 00:00:00|    debit card|        clothing|     4.0|        27.0|             NULL|     mobile| 211.46.251.245|298 Taylor Canyon...|                NULL|        0.0|           200.0|            NULL|
|f1b10958-67af-48c...|bffedad1-43c1-4ef...|            374.04|               NULL| bank transfer|   home & garden|     5.0|        51.0|      Danielmouth|       NULL|   25.126.229.2|32232 Omar Glens\...|32232 Omar Glens\...|        0.0|            22.0|            NULL|
|                NULL|4c80f103-ce9c-4e4...|            169.04|2022-11-16 00:00:00|    debit card|   home & garden|     1.0|        54.0|         Lamburgh|       NULL|  1.199.155.117|Unit 4478 Box 382...|Unit 4478 Box 382...|        0.0|            60.0|            NULL|
|                NULL|                NULL|            254.48|2018-11-07 00:00:00| bank transfer|     electronics|    NULL|        NULL|West Melissashire|    desktop|   52.160.5.136|1117 Braun Courts...|1117 Braun Courts...|        0.0|           238.0|             8.0|
|0a0ec219-172f-47a...|                NULL|              NULL|2021-05-26 00:00:00|          NULL|            NULL|     1.0|        41.0|     Port Rebecca|       NULL|   194.26.237.2|1228 Torres Squar...|1228 Torres Squar...|        0.0|            NULL|            14.0|
|                NULL|e852cd05-3ee9-45a...|            263.28|2020-11-10 00:00:00|    debit card|            NULL|     3.0|        30.0|             NULL|     tablet|166.131.101.195|12872 Kevin Creek...|                NULL|        0.0|           159.0|            NULL|
|                NULL|339683a0-3028-449...|            475.76|2023-09-04 00:00:00|        PayPal|            NULL|     2.0|        29.0|      Muellerstad|     mobile|  196.101.90.48|3496 Jason Ports\...|3496 Jason Ports\...|       NULL|           143.0|            10.0|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

### 2. Limpieza con pyspark [8 puntos]
(1 punto por pregunta)

<center>
<img src="https://miro.medium.com/v2/resize:fit:600/1*A6PpTrehGLxCJWNcUsDTNg.jpeg" width=350 />

Para comenzar con el análisis exploratorio usted decide empezar limpiando la base de datos con **pyspark** dado el alto volumen de datos que genera diariamente Bodoque E-Shop.

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**



1.   Utilice `.printSchema()` para revisar la estructura de los datos
2.   Muestre las primeras 10 filas del dataset. Hint: utilice `.show()`
3.   Imprima un muestreo aleatorio con el 5% de los datos diponibles. . Hint: utilice `.sample()`
4. Revise los tipos de datos de cada columna con `.dtypes()` y responda la siguiente pregunta: ¿Cuál/es columna/s tiene/n un tipo de dato que no es el adecuado y por qué?
5. Cree una función **cast_columns** que permita cambiar el tipo de datos de las columnas problemáticas. Luego utilice esta función respecto a lo respondido en la pregunta anterior.
6. Cuente la cantidad de datos nulos por variable. Recuerde que Spark no posee un método que le permita calcular directamente los nulos.
7. Elimine datos nulos.
8. Elimine datos duplicados.

In [82]:
# Escriba su respuesta aquí
df.printSchema()

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: double (nullable = true)
 |-- Customer Age: double (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: double (nullable = true)
 |-- Account Age Days: double (nullable = true)
 |-- Transaction Hour: double (nullable = true)

In [83]:
# Mostramos las primeras 10 filas
df.show(10)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|4b4a5fe1-ec4d-4f9...|d1b87f62-51b2-493...|             58.09|2022-03-24 00:00:00| bank transfer|     electronics|     1.0|        17.0|    Amandaborough|       NULL| 212.195.49.198|Unit 8934 Box 005...|Unit 8934 Box 005...|        0.0|            NULL|             5.0|
|bacd9392-73ce-481...|37de64d5-e901-4a5...|            389.96|2023-01-17 00:00:00|    debit card|     electronics|     2.0|        40.0|     East Timothy|    desktop|208.106.249.121|634 May Keys\nPor...|634 May Keys\nPor...|        0.0|            72.0|             8.0|
|d936a024-3a1d-40d...|1bac88d6-4b22-409...|            134.19|2023-06-01 00:00:00|        PayPal|   home & garden|     2.0|        22.0|       Davismouth|     tablet|   76.63.88.212|                NULL|16282 Dana Falls ...|        0.0|            63.0|            NULL|
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|         Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|b0634f43-d07d-4ca...|45071bc5-9588-43e...|            121.53|2020-10-26 00:00:00| bank transfer|        clothing|     2.0|        51.0|             NULL|       NULL| 190.172.14.169|29799 Jason Hills...|29799 Jason Hills...|        0.0|           158.0|            NULL|
|8c4711b8-7477-421...|29616b04-2d5c-472...|            166.41|2019-06-10 00:00:00| bank transfer|    toys & games|    NULL|        34.0|     Herreramouth|     tablet|           NULL|5699 Brittany Vil...|120 Kristi Dale\n...|       NULL|            38.0|            10.0|
|fd0342fe-6b16-4a3...|fe21ae29-ba4c-424...|             92.88|2020-10-09 00:00:00|        PayPal|    toys & games|     2.0|        14.0|        Ramosfort|     tablet|   13.45.27.192|                NULL|727 Gibson Island...|        0.0|           119.0|            19.0|
|2d7299de-355b-479...|024257c3-5671-4de...|            318.14|2021-10-09 00:00:00|   credit card| health & beauty|     4.0|        42.0|             NULL|    desktop|131.141.230.185|3914 Davis Union\...|                NULL|        0.0|           251.0|            NULL|
|de51c9df-ab52-43a...|                NULL|              NULL|2019-03-22 00:00:00| bank transfer|   home & garden|    NULL|        38.0|       Carneyfurt|       NULL|           NULL|47893 Maldonado S...|                NULL|        0.0|           190.0|            19.0|
|                NULL|aab93e75-582f-445...|            121.78|2022-02-28 00:00:00| bank transfer| health & beauty|     4.0|        39.0|       Brockburgh|     mobile| 174.32.252.238|2334 Briana Cente...|2334 Briana Cente...|        0.0|           343.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 10 rows

In [84]:
# Sampleo de 5% de los datos y lo mostramos
df.sample(fraction=0.05,seed=30).show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|                NULL|339683a0-3028-449...|            475.76|2023-09-04 00:00:00|        PayPal|            NULL|     2.0|        29.0|      Muellerstad|     mobile|  196.101.90.48|3496 Jason Ports\...|3496 Jason Ports\...|       NULL|           143.0|            10.0|
|f9f98c9c-e9fd-406...|80624244-ceb2-4bb...|              NULL|2024-07-23 00:00:00|   credit card|    toys & games|     5.0|        16.0|      East Ashley|     tablet|           NULL|0283 Booker Row S...|0283 Booker Row S...|        0.0|           132.0|            NULL|
|c289aff5-e5e1-49e...|                NULL|             56.83|2023-05-05 00:00:00|    debit card|    toys & games|     3.0|        21.0|   Port Adamhaven|     tablet|134.165.126.136|571 Michael Knoll...|                NULL|        0.0|           321.0|            15.0|
|8e6a140f-f125-488...|                NULL|              NULL|2022-10-09 00:00:00|          NULL|    toys & games|     5.0|        23.0|        New Jacob|    desktop|  117.189.96.77|4884 Regina Summi...|4884 Regina Summi...|       NULL|           260.0|            NULL|
|56d6ab78-4e3b-428...|                NULL|            216.17|2019-06-07 00:00:00|   credit card|   home & garden|     1.0|        41.0|        Scottport|     tablet|  145.63.154.89|Unit 3223 Box 846...|Unit 3223 Box 846...|        0.0|            NULL|            11.0|
|                NULL|                NULL|             77.83|2021-04-20 00:00:00|        PayPal|    toys & games|    NULL|        63.0|       Manuelland|    desktop|  53.52.247.199|309 James Cliff\n...|                NULL|       NULL|           315.0|            22.0|
|377ce7ed-0f0b-49c...|765e8076-ab50-457...|            186.28|2020-11-14 00:00:00|   credit card| health & beauty|     4.0|        39.0|             NULL|     tablet|  190.83.210.73|79356 Robbins Vie...|79356 Robbins Vie...|       NULL|           354.0|            NULL|
|e7543c93-a0fe-42b...|1f53277f-af43-4c6...|            265.95|2020-07-31 00:00:00| bank transfer|    toys & games|     2.0|        23.0|        Lopezfort|     tablet|           NULL|                NULL|1359 Palmer Hill\...|        0.0|            41.0|            21.0|
|8b6ab7ef-b8b5-41e...|                NULL|              NULL|               NULL|    debit card|     electronics|     3.0|        36.0|             NULL|       NULL| 196.199.123.24|Unit 8016 Box 041...|USNS Johnston\nFP...|        0.0|           286.0|            14.0|
|7b10eb02-349d-424...|dbf53e49-73dc-46c...|            172.08|2023-10-30 00:00:00|        PayPal|            NULL|     4.0|        39.0|     Richardstown|    desktop| 201.168.192.41|                NULL|66511 Mendoza Way...|       NULL|           345.0|            10.0|
|                NULL|63ecbac0-797d-4c4...|            208.15|               NULL| bank transfer| health & beauty|     2.0|        55.0| West Joshuaburgh|       NULL|   48.203.41.20|448 Thomas Prairi...|448 Thomas Prairi...|        0.0|            NULL|            22.0|
|078ee844-7bd7-454...|eae2bba5-653a-4b7...|            141.12|2023-06-18 00:00:00|    debit card| health & beauty|     2.0|        36.0|      Port Cheryl|     mobile|   23.86.127.29|                NULL|96644 Zachary Pas...|        0.0|            70.0|            16.0|
|84d41a9d-396a-46c...|163a8d07-febd-443...|             22.18|2021-12-22 00:00:00| bank transfer|            NULL|     3.0|        NULL|             NULL|    desktop|  155.24.186.83|523 David Dale\nY...|523 David Dale\nY...|        0.0|            52.0|            NULL|
|e8ac0b3c-09aa-44e...|656f8b98-a35d-4c3...|              NULL|2021-06-27 00:00:00|          NULL|        clothing|     1.0|        28.0|      Port Melody|     mobile|  177.128.68.85|2395 Kim Loop Apt...|2395 Kim Loop Apt...|        0.0|           299.0|            23.0|
|                NULL|7db4de39-f5fa-440...|             89.37|2021-11-29 00:00:00|        PayPal|    toys & games|    NULL|        33.0|             NULL|       NULL| 195.255.11.110|336 Edward Rest S...|                NULL|        0.0|           119.0|             7.0|
|                NULL|                NULL|            2392.0|2024-05-17 00:00:00| bank transfer|   home & garden|     3.0|        30.0|Lake Jonathantown|     mobile|108.128.142.186|445 Jeremy Union\...|445 Jeremy Union\...|        1.0|             4.0|             2.0|
|bee5da12-9ef8-466...|2ab50c9e-5c74-410...|            405.74|2022-10-02 00:00:00|          NULL|            NULL|     5.0|        NULL| East Hannahshire|     tablet|           NULL|5039 Thomas Spur ...|5039 Thomas Spur ...|        0.0|            41.0|            18.0|
|ec53c129-fc9b-41f...|                NULL|            865.94|2021-11-29 00:00:00|    debit card|        clothing|     1.0|        36.0|  West Danielside|     mobile|           NULL|829 Dennis Glens\...|                NULL|        0.0|           265.0|            10.0|
|                NULL|a2ac0ae3-b892-48f...|             37.13|2023-09-13 00:00:00|   credit card|    toys & games|     3.0|        NULL|     Lake Brandon|     tablet|           NULL|USNV Ellis\nFPO A...|                NULL|        0.0|           327.0|            18.0|
|                NULL|7d14d714-18a8-47a...|            304.21|2021-09-10 00:00:00|   credit card|     electronics|    NULL|        37.0|        Parksport|       NULL|  177.21.28.195|62575 Martinez Fr...|62575 Martinez Fr...|        0.0|           210.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

In [85]:
# Mostramos los tipos de datos de las columnas
df.dtypes

[('Transaction ID', 'string'),
 ('Customer ID', 'string'),
 ('Transaction Amount', 'double'),
 ('Transaction Date', 'timestamp_ntz'),
 ('Payment Method', 'string'),
 ('Product Category', 'string'),
 ('Quantity', 'double'),
 ('Customer Age', 'double'),
 ('Customer Location', 'string'),
 ('Device Used', 'string'),
 ('IP Address', 'string'),
 ('Shipping Address', 'string'),
 ('Billing Address', 'string'),
 ('Is An Alien', 'double'),
 ('Account Age Days', 'double'),
 ('Transaction Hour', 'double')]

Las variables de tipo no apropiado pueden ser consideradas de distintas formas dependiendo de las transformaciones o tipos de variables que queramos utilizar. Por ejemplo 'Payment Method', 'Product Category' y 'Device Used' pueden ser consideradas variables categóricas, tipo de variable que no existe como el tipo 'category' de pandas. Sin embargo, existen formas de numerizar las categorías para tratarlas como variables numéricas discretas. Por otro lado 'Quantity', 'Customer Age' y 'Account Age Days' son variables que toman valores enteros y en estricto rigor debiesen ser variable de tipo numéricas enteras. También 'Is An Alien' debiese ser una variable binaria, dado que solo reporta dos valores.

In [86]:
# Importamos los tipos de variables
from pyspark.sql.types import IntegerType, BooleanType 

# Diccionario de tipos de variables a cambiar
dic = {"Quantity": IntegerType(),"Customer Age": IntegerType(),"Is An Alien": BooleanType(),"Account Age Days": IntegerType()}

# Función de cambio de tipos de variables
def cast_columns(df, cols_types):
    """
    Cambia el tipo de múltiples columnas en un DataFrame de Spark.

    Parámetros:
    - df: DataFrame de Spark.
    - cols_types: Diccionario con nombres de columnas como claves y tipos de datos de Spark como valores.

    Retorna:
    - DataFrame de Spark con tipos de columnas modificados.
    """
    for col_name, new_type in cols_types.items():
        print(col_name)
        print(new_type)
        df = df.withColumn(col_name, df[col_name].cast(new_type))
    return df

In [87]:
# Utilizamos la función
df = cast_columns(df,dic)
# Verificamos que funcione
df.printSchema()

Quantity
IntegerType()
Customer Age
IntegerType()
Is An Alien
BooleanType()
Account Age Days
IntegerType()
root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Customer Age: integer (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: boolean (nullable = true)
 |-- Account Age Days: integer (nullable = true)
 |-- Transaction Hour: double (nullable = true)

In [88]:
df.sample(fraction=0.05,seed=30).show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|                NULL|339683a0-3028-449...|            475.76|2023-09-04 00:00:00|        PayPal|            NULL|       2|          29|      Muellerstad|     mobile|  196.101.90.48|3496 Jason Ports\...|3496 Jason Ports\...|       NULL|             143|            10.0|
|f9f98c9c-e9fd-406...|80624244-ceb2-4bb...|              NULL|2024-07-23 00:00:00|   credit card|    toys & games|       5|          16|      East Ashley|     tablet|           NULL|0283 Booker Row S...|0283 Booker Row S...|      false|             132|            NULL|
|c289aff5-e5e1-49e...|                NULL|             56.83|2023-05-05 00:00:00|    debit card|    toys & games|       3|          21|   Port Adamhaven|     tablet|134.165.126.136|571 Michael Knoll...|                NULL|      false|             321|            15.0|
|8e6a140f-f125-488...|                NULL|              NULL|2022-10-09 00:00:00|          NULL|    toys & games|       5|          23|        New Jacob|    desktop|  117.189.96.77|4884 Regina Summi...|4884 Regina Summi...|       NULL|             260|            NULL|
|56d6ab78-4e3b-428...|                NULL|            216.17|2019-06-07 00:00:00|   credit card|   home & garden|       1|          41|        Scottport|     tablet|  145.63.154.89|Unit 3223 Box 846...|Unit 3223 Box 846...|      false|            NULL|            11.0|
|                NULL|                NULL|             77.83|2021-04-20 00:00:00|        PayPal|    toys & games|    NULL|          63|       Manuelland|    desktop|  53.52.247.199|309 James Cliff\n...|                NULL|       NULL|             315|            22.0|
|377ce7ed-0f0b-49c...|765e8076-ab50-457...|            186.28|2020-11-14 00:00:00|   credit card| health & beauty|       4|          39|             NULL|     tablet|  190.83.210.73|79356 Robbins Vie...|79356 Robbins Vie...|       NULL|             354|            NULL|
|e7543c93-a0fe-42b...|1f53277f-af43-4c6...|            265.95|2020-07-31 00:00:00| bank transfer|    toys & games|       2|          23|        Lopezfort|     tablet|           NULL|                NULL|1359 Palmer Hill\...|      false|              41|            21.0|
|8b6ab7ef-b8b5-41e...|                NULL|              NULL|               NULL|    debit card|     electronics|       3|          36|             NULL|       NULL| 196.199.123.24|Unit 8016 Box 041...|USNS Johnston\nFP...|      false|             286|            14.0|
|7b10eb02-349d-424...|dbf53e49-73dc-46c...|            172.08|2023-10-30 00:00:00|        PayPal|            NULL|       4|          39|     Richardstown|    desktop| 201.168.192.41|                NULL|66511 Mendoza Way...|       NULL|             345|            10.0|
|                NULL|63ecbac0-797d-4c4...|            208.15|               NULL| bank transfer| health & beauty|       2|          55| West Joshuaburgh|       NULL|   48.203.41.20|448 Thomas Prairi...|448 Thomas Prairi...|      false|            NULL|            22.0|
|078ee844-7bd7-454...|eae2bba5-653a-4b7...|            141.12|2023-06-18 00:00:00|    debit card| health & beauty|       2|          36|      Port Cheryl|     mobile|   23.86.127.29|                NULL|96644 Zachary Pas...|      false|              70|            16.0|
|84d41a9d-396a-46c...|163a8d07-febd-443...|             22.18|2021-12-22 00:00:00| bank transfer|            NULL|       3|        NULL|             NULL|    desktop|  155.24.186.83|523 David Dale\nY...|523 David Dale\nY...|      false|              52|            NULL|
|e8ac0b3c-09aa-44e...|656f8b98-a35d-4c3...|              NULL|2021-06-27 00:00:00|          NULL|        clothing|       1|          28|      Port Melody|     mobile|  177.128.68.85|2395 Kim Loop Apt...|2395 Kim Loop Apt...|      false|             299|            23.0|
|                NULL|7db4de39-f5fa-440...|             89.37|2021-11-29 00:00:00|        PayPal|    toys & games|    NULL|          33|             NULL|       NULL| 195.255.11.110|336 Edward Rest S...|                NULL|      false|             119|             7.0|
|                NULL|                NULL|            2392.0|2024-05-17 00:00:00| bank transfer|   home & garden|       3|          30|Lake Jonathantown|     mobile|108.128.142.186|445 Jeremy Union\...|445 Jeremy Union\...|       true|               4|             2.0|
|bee5da12-9ef8-466...|2ab50c9e-5c74-410...|            405.74|2022-10-02 00:00:00|          NULL|            NULL|       5|        NULL| East Hannahshire|     tablet|           NULL|5039 Thomas Spur ...|5039 Thomas Spur ...|      false|              41|            18.0|
|ec53c129-fc9b-41f...|                NULL|            865.94|2021-11-29 00:00:00|    debit card|        clothing|       1|          36|  West Danielside|     mobile|           NULL|829 Dennis Glens\...|                NULL|      false|             265|            10.0|
|                NULL|a2ac0ae3-b892-48f...|             37.13|2023-09-13 00:00:00|   credit card|    toys & games|       3|        NULL|     Lake Brandon|     tablet|           NULL|USNV Ellis\nFPO A...|                NULL|      false|             327|            18.0|
|                NULL|7d14d714-18a8-47a...|            304.21|2021-09-10 00:00:00|   credit card|     electronics|    NULL|          37|        Parksport|       NULL|  177.21.28.195|62575 Martinez Fr...|62575 Martinez Fr...|      false|             210|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

In [89]:
# Contamos cantidad de nulos por columna

# Importamos las funciones de consulta SQL

from pyspark.sql.functions import when, col, sum

exprs = [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]

df.agg(*exprs).show()

+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|Transaction ID|Customer ID|Transaction Amount|Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|IP Address|Shipping Address|Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|        126886|     126847|            126840|          126831|        126877|          126814|  126966|      126826|           126781|     126911|    126929|          126734|         126804|     126828|          126886|          126953|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+

In [90]:
row_count = df.count()
print(row_count)

600000

Es más de un sexto de la data de solo nulos por columna.

In [91]:
# Filas que obtendríamos al borrar nulos
df.na.drop().count()

13388

In [92]:
row_count = df.count()
print(row_count)

600000

In [93]:
# Borramos los nulos
df = df.na.drop()

In [94]:
row_count = df.count()
print(row_count)

13388

Descenso drástico de la cantidad de elementos, lo cual nos dice que los nulos están distribuidos en distintas columnas.

In [95]:
print(df.count())
df.sample(fraction=0.05,seed=30).show()

13388
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|  Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|e943cea0-cf5b-4c4...|fdc52935-83be-46b...|            256.72|2021-01-16 00:00:00|   credit card|    toys & games|       3|          34|     North Kristina|     tablet|   173.216.33.0|368 Elizabeth Pla...|368 Elizabeth Pla...|      false|             224|            20.0|
|d20c142f-6624-406...|a1b116d0-61ae-4c0...|            178.99|2024-06-06 00:00:00| bank transfer|   home & garden|       4|          39|       Joneschester|     mobile|   117.44.48.83|119 Wall Trail\nL...|USS Rosario\nFPO ...|      false|             211|             1.0|
|d349779a-94a2-42d...|06012d3a-c28d-4c4...|            396.95|2018-11-24 00:00:00|        PayPal|     electronics|       4|          26|     Port Aaronport|    desktop| 176.153.52.184|259 Christopher I...|259 Christopher I...|       true|             243|            20.0|
|0e7d0165-6598-49f...|366168a9-a85e-48e...|             47.32|2022-04-10 00:00:00| bank transfer|   home & garden|       1|          42|     Port Ericmouth|     mobile|190.215.154.190|1285 Watson Row S...|1285 Watson Row S...|       true|               2|            11.0|
|d3069f91-d90a-4ca...|ea3f72b0-dd6f-4c0...|             34.19|2023-07-22 00:00:00|    debit card|   home & garden|       4|          34|      Blackburnbury|     tablet| 27.239.159.194|77596 Cassidy For...|77596 Cassidy For...|      false|             346|             5.0|
|7ecc178b-218d-4c5...|4eaf895d-26d9-459...|            200.29|2019-10-16 00:00:00| bank transfer|        clothing|       2|          31|       Hardinghaven|     mobile|   56.226.70.86|29017 Yolanda Gar...|29017 Yolanda Gar...|      false|             223|            11.0|
|37c8f52f-e5c1-49d...|0c89975a-c633-430...|            319.87|2020-06-26 00:00:00|        PayPal|    toys & games|       2|          36|      Gutierrezstad|     tablet|190.240.142.205|85521 Zuniga Stat...|85521 Zuniga Stat...|      false|             290|             9.0|
|7c587985-3237-4db...|8476a616-1a10-401...|             14.53|2020-08-23 00:00:00|   credit card|     electronics|       3|          32|      Port Carltown|     mobile|  157.174.86.66|8558 Sandra Cause...|8558 Sandra Cause...|      false|              69|            12.0|
|ad43754f-8fdf-46f...|d597088e-bd8a-430...|            391.15|2020-07-06 00:00:00| bank transfer|    toys & games|       5|          29|    Lake Tammyshire|     mobile|     65.92.1.17|8514 Alicia Estat...|8514 Alicia Estat...|      false|               2|            16.0|
|0fa8dc73-bab3-4be...|25255798-e43a-4cc...|             32.78|2019-09-12 00:00:00|   credit card|        clothing|       1|          26|    South Johnmouth|    desktop|  206.187.26.90|906 Haas Shore\nP...|40890 Hernandez L...|      false|             291|            14.0|
|1cb08a96-dcbb-4ff...|22952273-f193-407...|            346.48|2021-07-07 00:00:00| bank transfer|        clothing|       3|          49|     Lake Kathystad|     mobile| 104.98.151.229|336 Juan Harbors\...|336 Juan Harbors\...|      false|               8|            10.0|
|6c23bb0b-3ade-443...|d9765373-5ef1-4fe...|             19.22|2023-06-05 00:00:00| bank transfer| health & beauty|       2|          24|       Espinozatown|    desktop|  46.158.28.183|2466 Lisa Hill\nN...|2466 Lisa Hill\nN...|      false|             294|             3.0|
|9c55fd8e-0300-4c1...|a7051577-b7ac-4dc...|            461.24|2022-06-28 00:00:00| bank transfer| health & beauty|       1|          31|        Alexisville|     tablet|    49.192.64.7|6330 John Vista A...|6330 John Vista A...|      false|             169|            17.0|
|8acbd610-9f95-413...|8dcbcaad-7655-465...|            517.29|2023-01-11 00:00:00|        PayPal|   home & garden|       2|          19|           Sheatown|     tablet| 151.66.171.131|180 Joseph Gatewa...|180 Joseph Gatewa...|      false|             161|            12.0|
|8b0543d2-199a-4dc...|3ef2bcd0-23a9-493...|            185.16|2019-07-17 00:00:00|        PayPal| health & beauty|       3|          32|          Weissstad|     tablet|   177.77.23.61|3832 James Skyway...|3832 James Skyway...|      false|              87|             0.0|
|13c78874-aa38-4a0...|edf50a9e-fe75-413...|             96.36|2021-01-16 00:00:00|        PayPal| health & beauty|       2|          30|        Robertsview|     tablet|    68.76.99.83|6133 Montgomery T...|98511 Anderson Po...|      false|             172|            18.0|
|b454b139-a302-4fe...|cb474fa4-5677-42f...|            264.25|2018-06-18 00:00:00|   credit card|   home & garden|       1|          29|         Knightfort|     mobile|212.249.140.228|82287 Scott Garde...|82287 Scott Garde...|      false|              27|            19.0|
|27fa4d7f-08a6-4f9...|61c75a85-69a2-443...|            210.19|2022-10-12 00:00:00|        PayPal|     electronics|       3|          22|West Elizabethhaven|     mobile| 113.179.34.103|273 Barrett Hill ...|273 Barrett Hill ...|      false|             200|            23.0|
|fd667f92-7ff1-44a...|b3f6c533-6b46-4dc...|             32.15|2020-09-16 00:00:00|   credit card|    toys & games|       2|          27|       Mauriceville|     tablet| 150.44.179.248|1914 Campbell Cli...|1914 Campbell Cli...|      false|              73|            23.0|
|63dc9260-ae56-466...|07a29982-6282-4b7...|            123.46|2019-08-29 00:00:00|   credit card|     electronics|       1|          44|          Carlabury|     mobile|124.251.204.252|4073 Bell Crest\n...|4073 Bell Crest\n...|      false|             328|             5.0|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

In [96]:
# Número de duplicados
df.dropDuplicates().count()

13388

In [97]:
# Borramos datos duplicados
df = df.dropDuplicates()

In [103]:
print(df.count())
df.sample(fraction=0.05,seed=30).show()

13388
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age| Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|95c9588e-e338-465...|9e56830c-04a3-42e...|             89.65|2019-07-21 00:00:00|        PayPal| health & beauty|       5|          24|        South Lisa|     mobile|147.143.252.137|46519 Morgan Bran...|46519 Morgan Bran...|       true|               5|            18.0|
|7b9232b7-aafe-446...|7a26e73a-ab50-469...|            201.94|2018-11-07 00:00:00|   credit card|     electronics|       2|          40|          Marystad|     mobile| 118.57.234.235|492 Phelps Trail ...|94710 Martinez Sp...|      false|              80|             6.0|
|f4b25f50-dada-44f...|a2f5ef49-b829-47d...|            180.75|2019-02-11 00:00:00|   credit card|        clothing|       3|          32|         Port John|     tablet|  2.181.106.126|8283 Michael Ford...|8283 Michael Ford...|      false|             219|            11.0|
|6878d47a-8369-4bf...|c56154e0-e395-432...|             19.26|2022-10-04 00:00:00| bank transfer|   home & garden|       4|          35|     East Chadside|     tablet|   195.36.17.50|Unit 6737 Box 598...|Unit 6737 Box 598...|      false|              67|            23.0|
|8bd1b7cc-b5c4-4c4...|a566a068-71d5-4ce...|            164.58|2024-09-06 00:00:00|    debit card|   home & garden|       2|          28|       Nicholaston|     tablet| 29.211.106.120|1594 Schultz Park...|1594 Schultz Park...|      false|             172|             2.0|
|ba2f5b26-edeb-414...|0d9a4e04-788d-4e4...|            745.99|2021-01-06 00:00:00|   credit card|        clothing|       2|          42|         Gomezbury|    desktop|  74.251.24.153|245 Joy Harbor Ap...|245 Joy Harbor Ap...|      false|             252|            12.0|
|516438a7-906f-4da...|52d47382-c0d7-4bc...|            126.04|2021-10-18 00:00:00| bank transfer|     electronics|       4|          39|      South Pamela|     tablet| 165.205.68.151|6195 Emma Dam\nRa...|6195 Emma Dam\nRa...|      false|             293|            15.0|
|38855e96-caa8-4fc...|a990ba9d-9e02-4b2...|            373.48|2023-11-21 00:00:00| bank transfer| health & beauty|       5|          45|        Justinland|     mobile|  51.217.55.135|05229 Dustin Fiel...|05229 Dustin Fiel...|      false|              47|            22.0|
|9b7a2d17-f71b-4a6...|be036b57-03e0-44b...|             98.05|2024-08-08 00:00:00|    debit card| health & beauty|       5|          41|         Port Mary|     mobile|  81.70.252.151|306 James Landing...|306 James Landing...|      false|             234|            22.0|
|cdfd2e6f-57ed-4db...|1d2a9472-0d92-433...|             57.79|2021-07-23 00:00:00|    debit card| health & beauty|       5|          27|     South Timothy|    desktop|  193.82.142.90|2924 Day Forest\n...|2924 Day Forest\n...|      false|             317|             3.0|
|39ffd446-f319-43f...|66e2e9c7-9826-4bb...|             23.25|2019-03-29 00:00:00|        PayPal|   home & garden|       1|          36|     Gutierrezland|     tablet| 216.160.18.133|90898 Miller Summ...|90898 Miller Summ...|      false|             345|            17.0|
|80b2486a-7a70-4e2...|879cd8ac-064c-427...|            193.14|2020-10-20 00:00:00|        PayPal|    toys & games|       4|          17|    Lake Tracybury|     mobile| 72.108.148.137|408 John Lodge\nP...|408 John Lodge\nP...|      false|             291|             7.0|
|9065dc1e-9101-489...|738e3b17-6de0-486...|             94.38|2023-10-23 00:00:00|        PayPal|    toys & games|       3|          28|       Collinsview|     mobile|136.154.125.184|03724 Moore Rue S...|03724 Moore Rue S...|       true|              30|            14.0|
|05325366-c19d-4bf...|06e15e8e-6f2a-4de...|             166.2|2020-02-13 00:00:00|   credit card| health & beauty|       5|          54| West Courtneytown|    desktop|  144.254.81.84|439 Roberts Road\...|439 Roberts Road\...|      false|             252|            13.0|
|33e6bc64-b90c-45e...|83663cd6-5d71-4ec...|            289.36|2024-08-01 00:00:00|        PayPal|    toys & games|       3|          29|         Randyview|     tablet| 202.220.24.102|1487 Jordan Drive...|1487 Jordan Drive...|      false|             198|            23.0|
|2cb3a0b5-e43f-4d6...|80aa51b5-37ed-42a...|            161.29|2023-01-27 00:00:00|        PayPal|    toys & games|       3|          40|        Santosberg|     mobile|  76.237.66.140|PSC 5079, Box 230...|PSC 5079, Box 230...|      false|             187|            22.0|
|46f91ce9-5c4c-406...|ee81ecf4-48b2-441...|             77.57|2021-05-22 00:00:00|   credit card| health & beauty|       3|          17|        Wernerside|     mobile|   4.241.42.200|7540 Stacy Grove\...|7540 Stacy Grove\...|      false|             130|             8.0|
|f59e7f1e-c6b1-45b...|675bd3e8-dc6e-41d...|            113.74|2019-01-27 00:00:00|        PayPal|     electronics|       5|          23|       Marcusburgh|     tablet|    71.33.160.5|25134 Alejandro P...|5122 Angela Lodge...|      false|             235|             0.0|
|a455665a-b989-4fd...|8fe70b5a-8a1f-445...|            236.56|2021-10-18 00:00:00|    debit card| health & beauty|       2|          50|       Floresmouth|     tablet|    67.209.4.84|581 Jennifer Way ...|581 Jennifer Way ...|      false|             183|            11.0|
|681504ec-5253-43c...|8f8cac8e-5882-4b4...|            288.07|2020-09-17 00:00:00|   credit card| health & beauty|       5|          41|East Amandachester|     mobile|  73.10.104.217|97900 Thornton Co...|97900 Thornton Co...|      false|             224|             6.0|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

In [98]:
#sparksession.stop()

### 3. Transformaciones con pyspark [6 puntos]
(1 punto por pregunta)

<center>
<img src="https://live.staticflickr.com/13/91801406_0e71d7f019_b.jpg" width=350 />

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**

Para continuar con el análisis, los especistas de Bodoque les gustaría tener nuevas variables disponibles. Tras las notas de la reunión usted llega a la conclusión de que tiene que realizar las siguientes tareas (con el dataset preprocesado de la seccion anterior):


1.   Agregar una columna llamada "Transaction bp" con el **monto total** de la transacción en bodoque pesos. Se considera que $x$ dólares equivalen a $log(48+|x^{36}|)$ bodoque pesos.
2.   Crear una columna llamada "Transaction Month" con el mes en que se realiza una transacción.
3.   Crear la variable *Type of purchase* según la catidad de unidades vendidas de acuerdo a las siguientes categorías.
  * Compra minorista: 4 productos o menos.
  * Compra mayorista: 5 produtos o más.
4. Imprima los registros de compras hechas por alienígenas en el comecio mayorista.  Utilice `.filter()`.
5. Cuente la cantidad de compras realizadas por humanos y la cantidad de compras realizadas por alienígenas. Utilice `.groupby()`.
6. Muestre una tabla con la recaudación promedio por transacción para cada método de pago, tanto para humanos como alienígenas. Utilice `pivot()`.

In [105]:
# Escriba su respuesta aquí

# Paquetes
from pyspark.sql.functions import abs, log
from pyspark.sql.functions import month
from pyspark.sql.functions import when

# Agregamos columna "Transaction bp"
df=df.withColumn('Transaction bp',log(48+abs(df['Transaction Amount']**36)))

# Agregamos "Transaction Month"
df=df.withColumn('Transaction Month',month(df['Transaction Date']))

# Agregamos variable "Type of purchase"
df = df.withColumn("Type of purchase", when(df["Quantity"] <= 4, "Compra minorista").otherwise("Compra mayorista"))

# Imprimimos las compras mayoristas de aliens
mayorista_alien = df.filter((df["Type of purchase"]=="Compra mayorista")&(df["Is An Alien"]==True))
mayorista_alien.show(5)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|    Transaction bp|Transaction Month|Type of purchase|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
|95c9588e-e338-465...|9e56830c-04a3-42e...|             89.65|2019-07-21 00:00:00|        PayPal| health & beauty|       5|          24|       South Lisa|     mobile|147.143.252.137|46519 Morgan Bran...|46519 Morgan Bran...|       true|               5|            18.0| 161.8528752018411|                7|Compra mayorista|
|bb604801-2619-408...|208c8835-08f1-425...|             250.5|2023-10-19 00:00:00| bank transfer|        clothing|       5|          40|         Johnland|     mobile|  65.121.123.11|81965 Sanchez Bur...|81965 Sanchez Bur...|       true|              23|             2.0| 198.8445211388971|               10|Compra mayorista|
|04c468f0-72dc-4e1...|fafbb9ec-6d6b-417...|             21.14|2023-12-02 00:00:00|   credit card|     electronics|       5|          35|         Erinfurt|    desktop|   19.64.59.138|249 Donald Canyon...|249 Donald Canyon...|       true|              16|             5.0| 109.8420112959153|               12|Compra mayorista|
|3c166a62-faae-400...|6095ead8-dc1d-4a2...|             62.26|2023-08-24 00:00:00|        PayPal|     electronics|       5|          33|       West Paula|    desktop|   102.93.3.161|7691 Combs Flat A...|7691 Combs Flat A...|       true|              19|             6.0|148.72748994048465|                8|Compra mayorista|
|63a2596d-e658-430...|26da060b-c201-4cb...|             76.52|2021-05-05 00:00:00|   credit card|    toys & games|       5|          32|      Mathewsbury|    desktop|   56.110.90.63|6070 Mcgee Spring...|6070 Mcgee Spring...|       true|               1|             0.0| 156.1518772045939|                5|Compra mayorista|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
only showing top 5 rows

In [106]:
# Agrupamos por Is An Alien y contamos Transaction ID
df_compras = df.groupBy('Is An Alien').agg(
    {
        'Transaction ID':'count',
    }
)
df_compras.show()

+-----------+---------------------+
|Is An Alien|count(Transaction ID)|
+-----------+---------------------+
|       true|                  688|
|      false|                12700|
+-----------+---------------------+

In [108]:
#Agrupamos por método de pago (Payment method), promediamos el monto de transacción (Transaction Amount) y pivoteamos por Is An Alien.
df_pivot = df.groupBy("Payment method").pivot("Is An Alien").mean("Transaction Amount")
df_pivot.show()

+--------------+------------------+-----------------+
|Payment method|             false|             true|
+--------------+------------------+-----------------+
|    debit card|215.21641883519177|547.1965168539325|
| bank transfer|215.15149230285897|547.6004624277457|
|        PayPal|  215.125985847539|469.5177647058822|
|   credit card| 206.3112232704393| 517.753053892216|
+--------------+------------------+-----------------+

### 4. EDA [20 puntos]
(1 punto por gráfico y 1 punto por su interpretación)

<center>
<img src="https://i.pinimg.com/originals/41/7e/7b/417e7b9089bcc20c4909df8954c6e742.gif" width=400 />

Esta sección tiene como objetivo evaluar su habilidad para generar reportes y conclusiones a partir de los patrones identificados en los datos proporcionados por Bodoque. Específicamente, se enfoca en **caracterizar las transacciones** y **explorar las diferencias y similitudes en el comportamiento de humanos y aliens**. Utilice el dataset que ya incluye las transformaciones necesarias.

Por favor, asegúrese de que **todas** las visualizaciones que realice cumplan con los siguientes criterios:
- Deben ser relevantes y fáciles de interpretar.
- Cada gráfico debe incluir un título claro, nombres en los ejes y leyendas adecuadas.
- Adjunte una breve descripción interpretativa junto a cada gráfico para explicar los resultados visualizados.

Para llevar a cabo esta tarea, siga los siguientes pasos utilizando la librería de visualización de su elección (matplotlib, seaborn, plotly, etc):

1. **Conversión del DataFrame a formato pandas** (2 puntos): Pase el DataFrame procesado a formato pandas. Evite realizar transformaciones adicionales con pandas.
2. **Visualización de Variables Categóricas** (2 puntos por visualización):
   - Genere **tres gráficos de barras** que diferencien entre humanos y aliens. Analice y comente cualquier diferencia o similitud observada entre estos dos grupos.
3. **Visualización de Variables Numéricas** (2 puntos por visualización):
   - Elabore **tres distplots** para examinar las distribuciones de variables numéricas, diferenciando entre humanos y aliens. Comente las diferencias o similitudes notables.
4. **Análisis de Patrones en Transacciones** (2 puntos por visualización):
   - Cree **tres gráficos avanzados** que ayuden a identificar patrones en las transacciones. Estos gráficos deben incorporar al menos dos dimensiones y diferir de los anteriores. Algunos ejemplos podrían ser un lineplot que muestre la cantidad de transacciones mensuales por canal de venta, o un barplot que exhiba los tres productos más vendidos por canal.

Estos pasos le permitirán no solo visualizar datos complejos de manera efectiva, sino también interpretar estos datos para extraer insights valiosos acerca del comportamiento de los consumidores en el contexto de Bodoque.

In [100]:
# Escriba su respuesta aquí

### 5. Particiones y consultas en SQL [2 puntos]

<center>
<img src="https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/misc_images/1696330143457.gif" width=400 />

El equipo de Bodoque e-shop ha solicitado que los datos estén disponibles en una tabla SQL consultable. Además, están interesados en aprovechar las funciones de ventana en SQL para análisis avanzados. Las funciones de ventana permiten realizar cálculos sobre un conjunto de filas que están relacionadas con la fila actual. Por ejemplo, UNBOUNDED PRECEDING se usa para indicar que el rango de la función de ventana comienza desde la primera fila de la partición o del conjunto de resultados, lo cual es útil para calcular sumas acumulativas hasta la fila actual. Las variaciones comunes de este uso incluyen:

- `UNBOUNDED PRECEDING` to `CURRENT ROW`: Calcula desde el inicio de la partición hasta la fila actual.
- `UNBOUNDED PRECEDING` to `UNBOUNDED FOLLOWING`: Cubre todas las filas dentro de la partición.
- `VALUE PRECEDING` to `VALUE FOLLOWING`: Establece un rango específico basado en valores antes y después de la fila actual.

<center>
<img src="https://learnsql.com/blog/sql-window-functions-rows-clause/1.png" width=500 />

Ejemplo de uso en SQL:

```sql
STAT(COL1_NAME) OVER (PARTITION BY COL2_NAME ORDER BY COL3_NAME ROWS BETWEEN X PRECEDING AND CURRENT ROW)
```


Responda y realice los siguientes puntos:

1. **Creación de Tabla con PySpark** (2 puntos):
   - Desarrolle un script utilizando PySpark para crear una tabla a partir de un DataFrame previamente transformado. Seleccione y utilice una variable específica para la partición de la tabla. Justifique su elección de esta variable considerando factores como el tamaño del DataFrame, la distribución de los datos y el impacto potencial en el rendimiento de futuras consultas.

2. **Consulta SQL para Principales Clientes** (Bonus: 2 punto):
   - Ejecute una consulta SQL para identificar los 10 clientes que más productos han comprado. La consulta debe retornar el ID del cliente junto con el total de productos comprados, ordenados en forma descendente.

3. **Implementación de Función de Ventana en SQL y Equivalente en Spark** (Bonus: 2 punto):
   - Implemente una función de ventana en SQL para calcular la compra más alta realizada por cada usuario en los últimos tres meses. Además, describa cómo se podría realizar una función equivalente en Spark, considerando las capacidades específicas de PySpark para manejar este tipo de consultas.

In [101]:
# Código Aquí

### 6. UDF [12 puntos]

<center>
<img src="https://64.media.tumblr.com/ba8c705edd2bed0a28d9458811155d69/tumblr_pap19zg4ae1w3zg6go1_400.gifv" width=400 />



Un experto en predicciones y programación le ha proporcionado un objeto serializado (`pickle`) diseñado para calcular las probabilidades de que un cliente cometa o no un fraude. Este experto sugiere que, para maximizar las capacidades de procesamiento distribuido de Spark, debería implementar `Scalar User Defined Functions` (udf). Esto le permitirá aplicar el objeto serializado en un entorno distribuido a lo largo de toda la población de datos. Un aspecto clave de la función desarrollada por el experto es que se enfoca exclusivamente en las siguientes columnas para realizar las predicciones: `['Transaction Amount', 'Quantity', 'Customer Age', 'Transaction Hour']`.

Aparte, el experto le proporciona las siguientes instrucciones para usar las UDF en Spark:

```python
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

def custom_function(col1, col2, col3, col4):
    pass

udf_function = udf(custom_function, FloatType())
```

Basándose en la estructura proporcionada, debe desarrollar una función que ejecute un código específico. Tenga en cuenta que esta función solo puede recibir columnas de Spark y debe retornar el valor deseado. Posteriormente, deberá utilizar esta función UDF indicando la función personalizada y el formato de salida.

Siga los siguientes pasos para implementar la solución y responda las preguntas:

1. **Cargar el objeto serializado**: Revise el tipo de objeto y deduzca su función. (1 punto)
2. **Explorar el objeto**: Utilice las funciones `dir` y `help` para identificar qué método del objeto predice la probabilidad. (1 punto)
3. **Crear una función personalizada**: Elabore una función que prediga la probabilidad de fraude utilizando el último valor de la lista generada por el objeto serializado. Puede modificar el nombre de la función para reflejar su propósito. (6 puntos)
4. **Definir la función UDF**: Establezca la función UDF con la función personalizada que ha creado. (2 punto)
5. **Generar una nueva columna**: Añada una nueva columna `prediction` a su DataFrame en Spark utilizando la función UDF y muestre un ejemplo de cómo se aplica. ¿Qué beneficios podría generar utilizar udf? (2 puntos)

In [102]:
# Código Aquí